<div class="container">
    <h3>Our Story</h3>
    <hr>
    <p>This website was created as part of my web development learning process, 
    also with intention to better myself at writing articles however in the 
    process I decided to make it to help other people who want to become web 
    developers also and guide them through the process, give advise and motivation 
    from my own learning experience.
    </p>
    
    <p>
        My journey in to programming started around 2010 after coming across a 
        video lectures on youtube from Stanford University called "Programming
        Methodology in java 
        (<a href="https://www.youtube.com/watch?v=KkMDCCdjyW8&list=PLB727981776561EB5&index=1">here</a>)"
        . I was blown away by the proffessor Mehran Sahami and after finishing 
        those lectures I thought to mysel - wow finally I found something that I
        am really interested in. Its been a bumpy journey since then learning Java 
        on and off but in October 2015, after getting a job as a Support Engineer
        in a Cloud Software company I have fully resumed my studies in to programming
        and dove deep in to Web Development, more specifically using Ruby on Rails
        framework. I can not say that this past period was easy also due to the 
        time limitations and personal life events. I will make a video soon
        telling my full learning story and obsticles I had to overcome. Keep in 
        mind that I still considering myself a fresh Web Developer and surely not an
        expert by any means but hoepfully we can engage in this journey together and
        share the good and the bad. <br><br>
        
        Cheers!<br>
        
        Julius
    </p>
</div>