<div class="container">
    <h4>Forum</h4>
    <table class="table-style">
        <tr>
            <th>
                <h5>title</h5>
            </th>
            <th>
                <h5>category</h5>
            </th>
            <th>
                <h5>comments</h5>
            </th>
        </tr>
        <% @forums.each do |x| %>
            <tr>
                <th>
                    <%= x.comments %>
                </th>
                <th>
                    <%= x.category %>
                </th>
                <th>
                    <%= x.title %>
                </th>
            </tr>
        <% end %>
    </table>
</div>
