<div class="container">
    <h4>Forum</h4>
    <table class="table-style">
        <tr>
            <th>
                <h5>Topic</h5>
            </th>
            <th>
                <h5>Category</h5>
            </th>
            <th>
                <h5>Comments</h5>
            </th>
        </tr>
        <% @forums.find_each do |x| %>
            <tr>
                <th>
                    <%= link_to x.comments, forum_path(x.id) %>
                </th>
                <th>
                    <%= x.category %>
                </th>
                <th>
                    <%= x.title %>
                </th>
            </tr>
        <% end %>
    </table>
</div>
