<% provide(:title, 'Article') %>
<div class="container">
   <h4 class="article_title"><%= @article.title %></h4>
    <p id="article_p"><%= @article.text %></p>
    <img><%= image_tag(@article.picture.url, size: "400x300", class: "gravatar") if @article.picture? %></img>
    <%= link_to "Edit", edit_article_path, class: "btn btn-sm btn-primary" %>
</div>
