<% provide(:title, 'Article') %>
<div class="container">
    <div class="row">
        <div class="col col-sm-9">
        <h4 class="article_title"><%= @article.title %></h4>
        <p id="article_p"><%= @article.text %></p>
        <img><%= image_tag(@article.picture.url, size: "400x300", class: "gravatar") if @article.picture? %></img>
        <% if logged_in? && current_user.admin? %>
            <%= link_to "Edit", edit_article_path, class: "btn btn-sm btn-primary" %>
        <% end %>
        </div>
        <div class="col col-sm-3">
            <h4>Testting layouts bla bla bla bla bla blabla bla bla bla bla bla
            bla bla bla bla bla blabla bla bla bla bla blabla bla bla bla bla
            bla bla bla bla bla bla
            bla bla bla bla bla blabla bla bla blablabla bla bla bla bla bla</h4>
        </div>
    </div>
</div>
