<% provide(:title, 'Article') %>
<div class="container">
   <h4><%= @article.title %></h4>
    <p><%= @article.text %></p>
    <%= image_tag(@article.picture.url, size: "200x200", class: "gravatar") if @article.picture? %>
    <%= link_to "Edit", edit_article_path, class: "btn btn-sm btn-primary" %>
</div>
