<% if logged_in? && current_user.admin?%>
  <% provide(:title, 'All users') %>
  <h1>All users</h1>
  <div class="container">
  <%= will_paginate %>
  
      <ul class="users">
          <%= render @users %>
      </ul>
  
  <%= will_paginate %>
  </div>
<% end %>