<h6>User panel this is userpanel of their learning progress</h6>
<ul>
    <li><h4>HTML Progress</h4><input type="checkbox" autocomplete="off"></li>
    <li><h4>CSS Progress</h4><input type="checkbox" autocomplete="off"></li>
    <li><h4>JavaScript Progress</h4><input type="checkbox" autocomplete="off"></li>
    <li><h4>Ruby on Rails Progress</h4><input type="checkbox" autocomplete="off"></li>
    <label class="btn btn-primary">
		<input type="checkbox" autocomplete="off">
		<span class="glyphicon glyphicon-ok"></span>
	</label>			
		
</ul>