<div class="container"> 
    <div class="row">
        <h1>videos</h1>
        <%= @videos.find_each do |x| %>
            <div class="col-sm-6 col-md-4">
                <div id="video" class="center">
                    <% puts "#{x.link}" %>
                    <iframe width="380" height="300" id="video"
                        src=<%= "https://www.youtube.com/embed/#{x.link}" %> frameborder="0" allowfullscreen>
                    </iframe>
                    <h4>Video Title <!-- add id=""title_p" when you will have embeded ruby --></h4>
                    <div style="color: white">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        <i class="fa fa-comment-o" aria-hidden="true"></i>
                    </div>
                </div>
                <% if logged_in? && current_user.admin? %>
                    <%= link_to "Delete", { :controller => :videos, :action => 'destroy', :id => x.id } , method: :delete, 
                        data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
                <% end %>    
            </div>
        <% end %> 
    </div>
</div>
