@import "bootstrap-sprockets";
@import "bootstrap";

/* sass mixins */ 

@mixin app-font {
    /*font-family: 'Baloo Bhaina', cursive;*/
    font-family: 'Nunito', sans-serif;
    /*font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;*/
    font-weight:700;
	  font-style: normal;
	  font-variant: normal;
}

@mixin app-font-bold {
    /*font-family: 'Baloo Bhaina', cursive;*/
    font-family: 'Nunito', sans-serif;
    /*font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;*/
    font-weight:800;
	  font-style: normal;
	  font-variant: normal;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin article-font {
  font-family: 'Fira Sans Condensed', sans-serif;
  /*font-family: "Gerogia", serif;*/
}

/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1  {
  margin-bottom: 60px;
  }
}


/* typography */
h2, h3, h4, h5, h6, b {
    color: white;
    line-height: 1;
    @include app-font;
}

h1 {
    color: white;
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
    @include app-font;
}

.dark-text-color {
  color: #777;
}

.h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
    @include app-font;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
    @include app-font;
    color: white;
}


/* header */
#logo {
    text-decoration: none;
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #f99f1a;
    letter-spacing: -0.5px;
    @include app-font-bold;
    line-height: 40px;
    padding: 5px;
      &:hover {
        font-size: 1.7em;
        color: #d8d8d8;
        text-decoration: none;
  }
}

#footer-logo {
    text-decoration: none;
    font-size: 2.7em;
    color: #f99f1a;
    letter-spacing: -1px;
    @include app-font-bold;
    padding-top: 15px;
      &:hover {
        color: #d8d8d8;
        text-decoration: none;
  }
}
.navbar-inverse .navbar-nav > li > a {
  color:white;
}


.links {
    /*text-shadow: 0px 0 white, 0 0px white, 0px 0 white, 0 0px white;*/
    /*-webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #fff; */
    color: white;
    /*background-color: black;*/
    @include app-font-bold;
    font-size: 18px;
    line-height: 20px;
    &:hover {
        /*color: #fb2f2f;*/
        color: #d8d8d8 !important;
        text-decoration-line: none;
  } 
}

.links a:active {
  background-color: #222;
}

.links-sub {
  color: black;
  @include app-font-bold;
  font-size: 18px;
  background-color: #f99f1a;
  line-height: 30px;
  &:hover {
        /*color: #fb2f2f;*/
        background-color: #686868;
        color: white;
        text-decoration: none;
  }
}

#subscribe {
  border-bottom: 6px solid white;
  border-top: 6px solid white;
  background-color: #fafafa;

}

#subscribe_text {
  color: black;
  margin: 0;
  padding-bottom: 0;
  padding-top: 10px;
}

.subscribe_text {
  color: black;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 10px;
}
/* Article styles */

.top_padding {
  padding-top:15px;
}

.fields {
      border: 2px solid gray;
      width: 23%;
      white-space:nowrap;
      border-radius: 3px;
}

/* email text field styling */
#text1
{
  border: 2px solid rgb(173, 204, 204);
  height: 31px;
  width: 223px;
  box-shadow: 0px 0px 27px rgb(204, 204, 204) inset;
  transition:500ms all ease;
  padding:3px 3px 3px 3px;
}

#text1:hover, #text1:focus
{
  width:260px;
  transition:500ms all ease;
  background:url(user.png) no-repeat right;
  background-size:25px 25px;
  background-position:96% 62%;
  padding:3px 32px 3px 3px;
  outline: none;
}
#text2
{
  border: 2px solid rgb(173, 204, 204);
  height: 31px;
  width: 223px;
  box-shadow: 0px 0px 27px rgb(204, 204, 204) inset;
  transition:500ms all ease;
  padding:3px 3px 3px 3px;
}

#text2:hover, #text2:focus
{
  width:260px;
  transition:500ms all ease;
  background:url(mail2.png) no-repeat right;
  background-size:25px 25px;
  background-position:96% 62%;
  padding:3px 32px 3px 3px;
  outline: none;
}
        
.buttons-width {
  width: 15%;
}

.lg-buttons-width {
  width: 30%;
}

.forms-style {
  width: 50%;
  margin-left: 25%;
}

#articles {
	overflow: hidden;
  @include app-font;
    &:hover {
      text-decoration: none;
    }
}
#article_body {
    background-color: white;
}

#floated {
    float: left;
    padding: 5px;
    @include article-font;
    font-size: 18pt;
    background-color: white;
}

#article_p {
    color: black;
    @include article-font;
    font-size: 18pt;
    background-color: white;
    /*border-radius: 5px;*/
    padding-left: 15px;
    padding-right: 15px;
    /* truncates display text in css
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

#titles {
  text-decoration: none;
  color: white;
  font-size: 2em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  @include app-font;
}

#title_p {
  color: white;
  @include app-font;
    &:hover {
      text-decoration: none;
    }
}

.image, .image div.container {
  /*width: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 5px;
	@include app-font;*/
	overflow: hidden;
	width: auto;
	height: auto;
    &:hover {
      transition: 0.5s;
      -webkit-transition: 0.5s;
      background: #47515b;
      text-decoration: none;
    }
}

img {
  height: 250px;
  width: 100%;
  border: 4px solid white;
  max-width: 400px;
  &:hover {
      text-decoration: none;
    }
} 

#footer-image {
  border: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  max-width: 200px;
  max-height: 200px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #1A1C21;
  margin: 1em 0;
  padding: 0;
}


.video {
    border: 4px solid white;
    margin: 0 5px;
    width: 100%;
    max-width: 300px;
    &:hover {
      transition: 0.5s;
      -webkit-transition: 0.5s;
    }
}

iframe {
  /*border: 4px solid white;*/
}

#article_h4 {
  border-bottom: 2px solid black;
  background-color: white;
}

#article_ul {
  text-align: center;
  padding-top: 15px;
} 

#header_title {
  font-size: 30px;
  background-color: #fafafa;
  color: white;//fallback
  @include app-font;
  border-left: 4px solid #f99f1a;
  /*background-image: url("ggg.jpg");*/
}

#donate-button {
  width: 100%;
  padding-top: 100px;
  text-align: center;
}

#donate-p {
  padding-top: 20px;
  color: black;
}

.orange-left-border {
  height: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  border-left: 6px solid #f99f1a;
}

#daily_quote {
  color: white;
  font-style: italic;
  font-size: 30px;
  margin: 10px 10px;
  @include app-font;
}

#daily_quote_title {
  color: white;
  font-weight: bold;
  font-size: 20px;
  @include app-font;
}

#signature {
  float:right;
  color: white;
  font-size: 15px;
  @include app-font;
  
}

.donate-style {
  float: right;
  margin: 0;
  padding: 0;
  height: 30px;
  width: 200px;
}

#donate-style {
  width: 40px;
}

/* Custom Bootstrap */

.alert {
  height: 40px;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

div {
  /*text-align: justify;*/
}

div:after {
  content: "";
  display: inline-block;
  width: 100%;
}

.link-to-text-color {
  text-decoration: none;
  color: black;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  @include app-font;
  &:hover {
    text-decoration: none;
    color: #708090;
  }
}

iframe {
  padding: 0.5px;
}

.nopadding {
   padding: 2.5px !important;
   margin: 5px !important;
}

.jumbotron {
  /*border-top: 6px solid #1A252A;*/
  border-top: 3px solid #A9A9A9;
  border-bottom: 3px solid #A9A9A9;
  padding-top: 5px;
  padding-bottom: 5px;
  background: white;
  text-align: center;
  /*border: 1px solid black;*/
}

#jumbotron-text {
  padding: 20px;
  margin-top: 150px;
  color: black;
}

#heading {
  height: 450px;
}

#donate-field {
  width: 150px;
  height: 25px !important;
}

.background-shadow {
  box-shadow: 0 0 3px rgba(0,0,0, 0.5);
}

body {
  padding-top: 56px;
  background-color: black;
  /*background: #870000;   fallback for old browsers 
  background: -webkit-linear-gradient(to right, #190A05, #870000);   Chrome 10-25, Safari 5.1-6 
  background: linear-gradient(to right, #190A05, #870000);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
  */


}

/* footer */

.footer-style, .footer-style a  {
  padding: 0;
  background-color: black;
  color: white;
  list-style: none;
  @include app-font;
  font-size: 14px;
  font-weight: 300;
}

.footer-top-border {
  padding-top: 10px;
}




/* image styling */

.picture {
  padding: 10px;
}

/* nav styles */

#page_navbar {
  border-bottom: 1px solid white;
  height: 30px;
}

#navbar-collapse {
  /*background-color: #222; */
}

  
/* dropdown styles */

.dropdown-menu {
  background-color: black;
}

/* button styles */

.btn {
  border-radius: 25px;
  border: 2px solid black;
}

.button-style {
  border: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  &:hover {
    transition: 0.5s;
    -webkit-transition: 0.5s; /* for Safari & Chrome */
    border: 5px solid #d9534f;
    background: white;
    color: black;
    border-radius: 20px;
  }
}

/* admin panel */

#admin-panel {
  color: black;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* sidebar */
aside {
  section.user_info {
  margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
  }
  span {
    display: block;
    margin-bottom: 3px;
    line-height: 1;
  }
  h1 {
    font-size: 1.4em;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 0px;
    }
  }
}
.gravatar {
  float: left;
  margin-right: 10px;
}
.gravatar_edit {
  margin-top: 15px;
}

/* forms */
input, textarea, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}


input {
  height: auto !important;
}

#error_explanation {
  color: white;
  ul {
  color: white;
  margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
  color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}

.hover_border {
  border: 8px solid white;
}

/* misc styles */

.article-title{
    height: 60px;
    margin-top: 10px;
    padding: 0;
}

#days-from {
  border: 3px solid #f99f1a;
  padding: 1px;
}

.underline {
  border-bottom: 4px groove white;
}

/* scrolling gallery */

#carousel {
    width: 100%;
    height: 250px;
    background-color:#f99f1a;
    
    overflow: scroll;
    white-space:nowrap;
}

#carousel .slide {
    display: inline-block;
}


/* **************
*****************
backend styles 
*****************
****************/



