<div class="container" id="white-line">
    <div class="row">
        <div class="center">
            <a id="footer_logo">RailsBit</a>
        </div>
        <div class="col col-sm-5 col-md nopadding">
            <div class="center">
                <ul id="footer-style">
                    <li>Contact</li>
                    <li>About</li>
                    <li>Videos</li>
                    <li>Articles</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <div class="col col-sm-5 col-md nopadding">
            <div class="center">
                <ul id="footer-style">
                    <li>Contact</li>
                    <li>About</li>
                    <li>Videos</li>
                    <li>Articles</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
    </div>    
</div>
<footer class="center">
            <h4>&copyRailsBit 2017</h4>
</footer>
