<footer>
    <div class="container">
        <nav "navbar_text">
            <ul class="nav navbar-nav">
            <li><%= link_to "Home", root_path %></li>
            </ul>
        </nav>
    </div>
</footer>