
        <div class="center top_padding">
            <a id="footer-logo">RailsBit</a>
        </div>
<div class="container">        
        <div class="row center">
            <div class="col-sm-4">
                    <ul class="footer-style">
                        <li><a>Sitemap</a></li>
                        <li><a>Privacy Policy</a></li>
                        <li><a>Terms of Use</a></li>
                        <li><a>Location</a></li>
                        <li><a>Navigation</a></li>
                    </ul>
            </div>
            <div class="col-sm-4">
                    <ul class="footer-style">
                        <li><a>Signup</a></li>
                        <li><a>Login</a></li>
                        <li><a>Latest Articles</a></li>
                        <li><a>Learn</a></li>
                        <li><a>Magazine</a></li>
                    </ul>
            </div>
            <div class="col-sm-4">
                    <ul class="footer-style">
                        <li><a>Testimonials</a></li>
                        <li><a>About</a></li>
                        <li><a>Videos</a></li>
                        <li><a>Articles</a></li>
                        <li><a>Channels</a></li>
                    </ul>
            </div>
        </div>
    </div>    
<footer class="center">
            <h4>&copyRailsBit 2017</h4>
</footer>
